%h4.pull-left= t("subscribers.title")
.pull-left= #link_to t("subscribers.accept_all"), "#", :class => "btn custom-btn"
.clearfix
%table.table.table-striped.schools
  %tbody
  - @subscribers.each do |subscriber|
    %tr
      %td= mail_to subscriber.email
      %td.action= link_to t("subscribers.accept"), "#", :class => "btn custom-btn"


