!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1= t("mail.hi", :name => @super_admin.full_name)
    %p
      = t("email.content_notify_subscriber")
      = @subscriber.email
    %p
      =  t("email.regard_end")     
