- if controller_name != 'sessions'
  = link_to t("devise.session.sign_in_action"), new_session_path(resource_name)
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords'
  = link_to t("devise.password.forgot_password_title"), new_password_path(resource_name)
  
