.admin.teacher
  %h3.school-name= current_user.school.try(:name)
  .clearfix.toolbar
    = link_to "View chart", admin_teachers_path,  :class => "brown font18"
    - unless @teachers.blank?
      = render 'shared/search_box', :action => "/admin/teachers/search", :placeholder => "Search name"

  - unless @teachers.blank?
    = render('teachers_list', :teachers => @teachers, :with_pagination => false)
