- content_for :js do
  = javascript_include_tag('app/students.js')
  
.teacher
  .clearfix.toolbar
    = link_to "Teacher Home", students_path(:user_id => @user.id, :admin_id => @admin),  :class => "brown font18"
  = render('shared/students/list', :with_pagination => false, :students => @students, :user => @user)
