#common_chart{:style=>"width: 100%; height: 100%; margin: 0"}

// Create the chart
- content_for(:js) do
  :javascript
    var chart;
    $(function(){
      
      series = jQuery.parseJSON(#{@series.to_json})
      $.each(series, function(indx, seri) {
        $.each(seri["data"], function(i, dt){
        series[indx]["data"][i][0] = Date.parse(dt[0]);
        })
      });
      $(document).ready(function() {
        chart = new Highcharts.Chart({
        chart: {
          renderTo: 'common_chart',
          type: 'spline',
          zoomType: 'xy',
          events: {
              click: function(event) {
                if(typeof parent.clickOnChart == 'function')
                  parent.clickOnChart(); 
              }
          } 
        },
        title: {
          text: ''
        },
        subtitle: {
          text: ''
        },
        credits: {
        	enabled: false
        },
        xAxis: {
          type: 'datetime',
          minorTickInterval: 'auto',
          tickPixelInterval: 110,
          labels: {
            formatter: function() {
                return Highcharts.dateFormat('%b %e, %y', this.value);
            },
            style: {
              'text-decoration': 'underline',
              color: '#315984'
            }
          },
        },
        yAxis: [{
          min: 0,
          title: {
            text: 'Accuracy'
          },
          labels: {
              formatter: function() {
                  return this.value +'%'
              }
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
          }],
          showEmpty: false
        },{
          min: 0,
          title: {
            text: ''
          },
          labels: {
              formatter: function() {
                  return this.value +'%'
              }
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
          }]
        },{
          title: {
            text: 'Status'
          },
          labels: {
              formatter: function() {
                  return this.value +'%'
              }
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
          }],
          showEmpty: false
        }],
        legend: {
          layout: 'vertical',
          backgroundColor: '#FFFFFF',
          align: 'left',
          verticalAlign: 'top',
          floating: false,
          shadow: true
        },
        tooltip: {
          formatter: function() {
            return ''+
              Highcharts.dateFormat('%b %e, %y', this.x) +': '+ this.y + "%";
          }
        },
        
        plotOptions: {
          spline: {
            events: {
              'click': function() {
                 current = this
                 $(chart.series).each(function(idx, item) {
                    if (item == current) {
                      if (current.options.goal_id)
                        if(typeof parent.selectGoal == 'function')
                          parent.selectGoal(current.options.goal_id); 
                    }
                 });
              }
            },
            lineWidth: 2,
            states: {
                hover: {
                    lineWidth: 3
                }
            },
            marker: {
                enabled: true,
                states: {
                    hover: {
                        enabled: true,
                        lineWidth: 1
                    }
                }
            },
          },
        },
        series: series

        });
      });


    });
  
