#common_chart{:style=>"width: <%= @chart_width %>; height: 100%; margin: 0"}

- content_for(:js) do
  :javascript
    $(function(){
      var chart;
      $(document).ready(function() {
        chart = new Highcharts.Chart({
        chart: {
          renderTo: 'common_chart',
          type: 'line'
        },
        title: {
          text: ''
        },
        subtitle: {
          text: ''
        },
        credits: {
        	enabled: false
        },
        xAxis: {
          categories: #{@categories},
          labels: {
            style: {
              'text-decoration': 'underline',
              color: '#315984'
            }
          },
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Accuracy'
          },
          labels: {
              formatter: function() {
                  return this.value +'%'
              }
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
          }]
        },
        legend: {
          layout: 'vertical',
          backgroundColor: '#FFFFFF',
          align: 'left',
          verticalAlign: 'top',
          x: 100,
          y: 0,
          floating: true,
          shadow: true
        },
        tooltip: {
          formatter: function() {
            return ''+
              this.x +': '+ this.y;
          }
        },
        
        plotOptions: {
          line: {
            events: {
              'click': function() {
                 current = this
                 $(chart.series).each(function(idx, item) {
                    if (item.name != current.name) {
                      item.hide();
                    } else {
                      item.show();
                    }
                 });
              }
            }
          }
        },
        series: #{@series}

        });
      });
    });
  
