%ul.nav.nav-tabs
  %li
    %a.placeholder
  %li{:class => @current_tab == 'classroom' ? "active" : ""}
    %a{:href => "/teachers"} Classroom
  %li{:class => @current_tab == 'curriculum' ? "active" : ""}
    %a{:href => "/curriculum"} Curriculum
