.btn-group.pull-right
  %a.menu-item.btn{:href => "/teachers", :class => set_current_tab('classroom')}
    = t("menu.classroom")
  %a.menu-item.btn{:href => "/curriculums", :class => set_current_tab('curriculum')}
    = t("menu.curriculum")
.clearfix
