.btn-group.pull-right
  %a.menu-item.btn{:href => "/teachers", :class => set_current_tab('classroom')}
    Classroom
  %a.menu-item.btn{:href => "/curriculum", :class => set_current_tab('curriculum')}
    Curriculum
.clearfix
