%form{:class => "navbar-search pull-right", :action => action, :method => 'get'}
  %input{ :type => "search", :class => "search-query", 
        :name => 'query', :value => params[:query], 
        :placeholder => placeholder}
  = hidden_field_tag "school", params[:school]
