%span.brown
  = "Welcome,"
  = link_to(current_user.try(:full_name), my_account_path)
%span= "|"
%span.blue
  = link_to("Sign Out", destroy_user_session_path, :method => "delete", :id => "sign_out")  
