- if @user.errors.any?
  $("#dynamic_container").html("#{escape_javascript render :partial => 'form', :locals => {:url => invitations_path, :method => :post}}");
  $('#invite_user form .submit-indicator').addClass('hide');

- else
  location.reload();
