- if @user.errors.any?
  - @user.errors.full_messages.each do |error| 
    - if error.include?("First name") 
      $("#firstname_error").html("#{escape_javascript ( error )}");
    - elsif error.include?("Last name") 
      $("#lastname_error").html("#{ escape_javascript ( error )}");
    - elsif error.include?("Email") 
      $("#email_error").html("#{ escape_javascript ( error )}");
    - elsif error.include?("Role") 
      $("#role_error").html("#{ escape_javascript ( error )}");
- else
  location.reload()




