- if @user.errors.any?
  $("#invite_user_title").html('Edit a user');
  $("#dynamic_container").html("#{escape_javascript render :partial => 'form', :locals => {:url => invitation_path(@user), :method => :put}}");
  $("#invite_user").modal('show');
- else
  location.reload()
