db_config: &db_config
  adapter: postgresql
  username: postgres
  password: postgres
  host: localhost
  port: 5432
  pool: 5
  timeout: 5000

development:
  <<: *db_config
  database: teacher_dev
production:
  <<: *db_config
  database: teacher_pro
test:
  <<: *db_config
  database: teacher_test
