%h1 Listing teachers

%table
  %tr
    %th
    %th
    %th

  - @teachers.each do |teacher|
    %tr
      %td= link_to 'Show', teacher
      %td= link_to 'Edit', edit_teacher_path(teacher)
      %td= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' }

%br

