= simple_form_for(@subscriber, :html => {:class => "subscriber"}) do |f|
  .form-inputs
    .text-learn= t("subscribers.text_learn")
    = f.input :email, :placeholder => "email", :label => false 
    .pull-right= f.button :submit, "Send"
