%div.pull-left{:style=>"width: 700px;"} 
	Educake is….. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium porta dolor ut interdum. Nam pretium augue rutrum odio sagittis fermentum. Curabitur suscipit, lectus quis vehicula pretium, dui nisi ornare dui, at consequat massa dui sed felis.
.pull-right{:style=>"width: 275px;"}
	= render 'form'

