
.fields
	.div{:style=>"width:400px;"}
		%label.grade-name.pull-left= t("goal.progress_with_id", :id => "")
		.pull-right= link_to_remove_fields "", f 
		.clearfix
	= f.input( :due_date, :as => :string, :required => false, 
	                                    :input_html => {:class => "date-picker progress-due-date", 
	                                        :value => progress.due_date_string}, 
	                                    :label => t("common.due_date"))
	= f.input :accuracy, :as => :string, :required => false, 
	          :label => t("goal.progress_accuracy"),
	          :input_html => {:class => "float_number"}
	
