- if @grade.errors.any?
  - @grade.errors.full_messages.each do |error| 
    - if error.include?("Goal") 
      $("#goal_error").html("#{escape_javascript ( error )}");
    - elsif error.include?("Due date") 
      $("#duedate_error").html("#{ escape_javascript ( error )}");
    - elsif error.include?("Accuracy") 
      $("#accuracy_error").html("#{ escape_javascript ( error )}");
- else
  location.reload()
