- unless (@goal.nil? && @file_import.nil? && !@format_csv) || @file_import.nil? || @goal.nil? || !@format_csv
  location.reload();
- else
  $("#import").attr("disabled", false);
  - if @goal.nil?
    $("#goal_choose").html("#{I18n.t('goal.require_to_select')}");
  - else
    $("#goal_choose").html("");
  - if @file_import.nil?
    $("#file_choose").html("#{I18n.t('common.file.require_to_select')}");
  - else
    $("#file_choose").html("");
  - if !@format_csv 
    $("#file_choose").html("#{I18n.t('common.file.wrong_csv_file_type')}");
  - else 
    $("#file_choose").html("");
  
    

