- unless (@goal.nil? && @file_import.nil? && !@format_csv) || @file_import.nil? || @goal.nil? || !@format_csv
  location.reload();
- else
  $("#import").attr("disabled", false);
  - if @goal.nil?
    $("#goal_choose").html("Please select one.");
  - else
    $("#goal_choose").html("");
  - if @file_import.nil?
    $("#file_choose").html("Please select one.");
  - else
    $("#file_choose").html("");
  - if !@format_csv 
    $("#file_choose").html("File must be of filetype .csv");
  - else 
    $("#file_choose").html("");
  
    

