$("#render_add_grade").html("#{escape_javascript render 'form_grade', :student_id => params[:student_id]}");
$("#render_add_grade").modal('show');
$("#render_add_grade").on('shown', function(){$('.grade-form').enableClientSideValidations();});
