/*
 *= require_self 
 *= require "lib/mobile/jquery.mobile"
 *= require shared
 */

body {
  padding: 10px;
}

.header {
  .logo{
    background-image: url("../assets/logo-mobile.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 60px;
    width: 275px;
    display: inline-block;
  }
}

#app-version{
  font-size: 14px;
  text-align: center;
}

.grade-form{
  .datepicker-trigger {
    margin-left: 10px;
    padding: 6px;
  }

  .objective-separator {
    float: left;
    margin: 15px 5px;
  }

  .objective-number{
    width: 50px;
  }

  .grade-objective{
    .control-group{
      float: left;
    }
  }
}

#login-button {
  margin-top: 20px;
}
