/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 *= require curriculum
 *= require layout
 *= require login
 *= require new_style
 *= require students
 *= require teacher
 *= require goals
 *= require schools
 *= require "lib/jquery-ui-bootstrap/jquery-ui"
 *= require "lib/jquery-ui-bootstrap/jquery-ui.ie"
 */

#main{
  width: 1085px;
}

select.time{
  width: 50px;
}

.horizontal-bar{
  display: block;
  border-top: 1px solid #E1E1E8;
  border-bottom: none;
  height: 1px;
}

.pagination{
  vertical-align: middle;
}

.pagination a, .pagination span{
  padding: 0 12px !important;
}

.loading{
  display: inline-block;
  background-image: url("/assets/loading-small.gif");
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.container{
  min-height: 500px;
}

.box-view-as {
  background-color: #CCCCCC !important;
  padding: 10px;
  margin-bottom: 10px;
}

form textarea{
  resize: vertical;
}

#app-version{
  font-size: 11px;
  padding: 10px;
  text-align: center;
}

.pagination{
  display: inline-block;
}

/*
  COMMON CSS
*/

.wordwrap { 
  word-wrap: break-word;  
}

.wordbreak{
  word-break: break-all;
}

.navbar-search input.search-query{
  background: url("/assets/search.png") no-repeat scroll 7px 7px #FCFCFC;
  padding-left: 27px;
}

.ui-combobox {
  position: relative;
  display: inline-block;

  .ui-combobox-input{
    width: 178px;
  }
}
.ui-combobox-toggle {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  margin-left: -1px !important;
  padding: 0 !important;
  /* adjust styles for IE 6/7 */
  *height: 1.7em;
  *top: 0.1em;

  .ui-button-icon-primary{
    margin-left: 6px !important;
    margin-top: 7px !important;
  }
}
.ui-combobox-input {
  margin: 0 !important;
  padding: 6px !important;
}
