/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require curriculum
 *= require layout
 *= require login
 *= require new_style
 *= require students
 *= require teacher
 *= require "jquery-ui-bootstrap/jquery-ui"
 */

select.time{
  width: 50px;
}

.horizontal-bar{
  display: block;
  border-top: 1px solid #E1E1E8;
  border-bottom: none;
  height: 1px;
}

.pagination{
  vertical-align: middle;
}

.pagination a, .pagination span{
  padding: 0 12px !important;
}

.loading{
  display: inline-block;
  background-image: url("/assets/loading-small.gif");
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.container{
  min-height: 500px;
}

#app-version{
  font-size: 11px;
  padding: 10px;
  text-align: center;
}
