.margin1 {
	margin-bottom: 10px;
	display: block;
}

.margin2 {
	margin-bottom: 30px;
	display: block;
}

table {
	width: 100%;
	thead {
		background-color: #C0C0C0;
	}
}

.text_left {
	text-align: left;
}

.text_center {
	text-align: center;
}

.left_blue_bold {
	text-align: left;
	color: #0099FF;
	font-weight: bold;
}

.center_blue {
	text-align: center;
	color: #0099FF;
}

.color_light_brown {
	background-color: #F9F9F9;
}