.super-admin.curriculum {
  .curriculum-form, #new_curriculum_import {
    .description-input {
      width: 350px;
    }

    .extended-textbox{
      width: 211px;
    }

    .widget-wrapper {
      .help-inline{
        margin-left: 30px;
      }
    }
  }
}

.subscriber {
  .control-group {
    margin-bottom: 0px !important;
  }
  input[type="email"] {
    width: 265px !important;
  }
  .text-learn {
    margin-bottom: 5px;
  }
}