#menu {
  ul {
    background-color: #DDDDDD;
    li a.placeholder {
      padding-bottom: 0px !important; 
      padding-top: 0px !important;
    }
  }
  
}

.header {
  background-image: url("../assets/logo.jpg");
  background-repeat: no-repeat;
  background-position: left;
  height: 100px;
}
