body{
  padding-top: 0;
  background-color: #EFEFEF;
  &.chart{
    background-color: #FFFFFF;
  }
}

body.view-as{
  overflow: hidden;
}

#banner{
  padding-top: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #DDDDDD;
}

#main{
  background-color: #FFFFFF;
  padding: 0 20px;
}

body.chart{
  #main{
    padding: 0;
  }
}

#menu{
  margin-bottom: 5px;

  .menu-item{
    color: #6D6E71;
    &.active{
      color: #fff;
    }
  }
}

#menu {
  ul {
    background-color: #DDDDDD;
    li a.placeholder {
      padding-bottom: 0px !important; 
      padding-top: 0px !important;
    }
  }  
}

.header {
  .logo{
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-position: left;
    height: 60px;
    width: 275px;
    display: inline-block;
  }
}
a {
  &:hover {
    text-decoration: none !important;
  }
}

.shadowed-box{
  background: #fff; 
  border: 1px solid; 
  border-color: #e5e5e5 #dbdbdb #d2d2d2; 
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; 
  -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; 
  box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
}

.rounded-bottom { 
  border-radius: 0 0 4px 4px; 
  -webkit-border-bottom-left-radius:4px; 
  -webkit-border-bottom-right-radius:4px; 
  -moz-border-radius: 0 0 4px 4px; 
  -o-border-radius: 0 0 4px 4px; 
  -khtml-border-radius: 0 0 4px 4px; 
}