.login {
  margin-top: 150px !important;
  form {
    .form-inputs {
      width: 200px;
      .control-group.optional {
        label {
          text-align: left;
        }
      }
    }
  }
}
form.sign-up {
  margin-top: 20px;
  .form-inputs {
    width: 470px;
    .control-group {
      label {
        width: 200px;
        float:left;
        text-align: right;
       }
      
    }
  }
}

.text-head {
  width: 500px;
  text-align: left;
}
#lastname_error, #firstname_error, #email_error, #role_error, 
#goal_error, #duedate_error, #accuracy_error {
  text-align: left;
  width: 200px;
  color: red;
}
