body{
  padding: 0;
  margin: 0;
  line-height: 0px;
}

ul{
  list-style-type: none;
}

#main-content {
  margin:0 auto;
  width:960px;
  min-height:800px;
}

#login-form {
  margin:0 auto;
  padding:0;
  height:478px;
  width:478px;
  padding-top:50px;
}

#login-form-top-left-egde{
  float:left;
  margin-left:-2px;
}

#login-form-right-egde{
  float:right;
  margin-right:2px;
}

#login-form-left-egde{
  float:left;
}

#login-form-main{
  height:433px;
  width:436px;
  background:#3d321e;
  float:left;
  text-align:center;
}

.clear{
  clear:both
}

#login-button{
}

#login-form-bottom-egde{
  float:left;
}

#logo-login{
  padding-top: 15px;
  padding-bottom: -5px;
}

.font18 {
  font-size:18px;
}

.font20 {
  font-size:20px;
}

.font22 {
  font-size:22px;
}

.font24 {
  font-size:24px;
}

.line-height {
  line-height: 24px;
}

.bold {
  font-weight:bold;
}

.red {
  color:red;
}

.white{
  color:white;
}

.brown{
  color:#e17c25;
}

.left{
  float:left;
}

#login-input-list{
  padding: 15px;
  margin: 0px;
  text-align:left;
  line-height: 24px;
}