$color-font: #E17C25;

/* Global styles */

.white{
  color: white;
}

.brown{
  color: $color-font;
  &:hover{
    color: #D77018;
  }
}
.highlight {
  color: orange;
}
.orange {
  color: $color-font;
}

.blue{
  color: #06B8FA;
  a{
    color: #06B8FA;
  }
}

.red {
  color:red;
}

.error{
  color: #B94A48;
}

.gray {
  color: #6D6E71;
}

.bg-brown{
  background: url("/assets/bg-button.png") repeat-x scroll center center transparent;
}

.btn.bg-brown:hover{
  background-color: #CD7036;
  color: #ffffff;
}

.thumbnail{
  padding: 8px;
  background-color: white;
  -webkit-box-shadow:rgba(0,0,0,.30) 0 2px 3px;
     -moz-box-shadow:rgba(0,0,0,.30) 0 2px 3px;
          box-shadow:rgba(0,0,0,.30) 0 2px 3px;
}

.form-actions input.btn {
  height: 30px;
}

.margin-left{
  margin-left: 15px;
}

ul{
  list-style: none;
}

.separator{
  background: url("/assets/bg-separator.jpg") repeat-x scroll 0 0 transparent;
  height: 2px;
  &.brown{
    background-image: none;
    background-color: $color-font;
  }
}

/* End global styles */

ul.ui-autocomplete {
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  width: 300px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;

  li {
    background-color: #FFF;
    border-top: solid 1px #DDD;
    margin: 0;
    padding: 0;
    overflow: hidden;
    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #FFFCB2;
    }
  }
} 

.track-indicator{
  margin-right: 5px;

  /** To make a circle **/
  width: 16px;
  height: 16px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;

  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

  /** bootstrap .btn-danger style **/
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  
  &:hover{
    background-color: #bd362f;
    *background-color: #a9302a;

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
       -moz-transition: background-position 0.1s linear;
         -o-transition: background-position 0.1s linear;
            transition: background-position 0.1s linear;
  }

  &.on-track{
    /** bootstrap .btn-success style **/
    background-color: #5bb75b;
    *background-color: #51a351;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

    &:hover{
      background-color: #51a351;
      *background-color: #499249;
    }
  }
}

.center-form{
  margin: 0 auto;
  width: 500px;

  .form-horizontal .form-actions{
    padding-left: 20px;
  }
}
.ajax-loading{
  margin-left: 34%;
  margin-top: 100px;
  position: absolute;
}

.oauth-clients{
  .toolbar{
    margin-bottom: 20px;
  }

  table{
    width: 60%;
  }
}