$color-font: #E17C25;
.title {
  color: black;
  font-weight: bold;
}
.schools {
  margin-top: 20px;
  th .current {
    padding-right: 19px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  th .asc { 
    background-image: url(/assets/up_arrow.gif); 
  }

  th .desc { 
    background-image: url(/assets/down_arrow.gif); 
  }
}

form.school-form, form.user-form {
  #city, #zipcode {
    color: #B94A48;
    display: block;
    margin-left: 154px;
  }
  .line {
    border-bottom: 1px solid $color-font;
    margin-bottom: 10px;
  }
  .hide {
    display:none !important;
    visibility: hidden;
  }
  .school-info {
    margin-left: 0px;
    select#school_state {
      width: 150px !important;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    input#school_city {
      width: 70px !important;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    input#school_zipcode {
      width: 50px !important;
      margin-bottom: 10px;
    }
    .control-group {
      margin-bottom: 10px !important;
      .controls {
        input {
          width: 300px !important;
        }
        select {
          width: 310px !important;
        }
        textarea.width-area {
          width: 300px !important;
        }
      }
    }
    
  }
}

.show-school {
  width: 300px;
  padding-right: 10px
}

// Stylesheet for users
.account {
  .reset_password {
     margin-left: 50px;
  }
  .blocked {
    margin-left: 50px;
    input[type="checkbox"] {
      cursor: pointer;
      line-height: normal;
      margin: 0 !important;
    }
    .text-block {
      margin-left: 27px;
    }
    .ckb-label {
      margin-left: 10px;
    }
  }
}
  
.super-admin{
  &.school{
    .add_user {
      margin-top: 10px;
    }
    .action{
      a{
        display: block;
        width: 100%;
      }
    }
  }
}
