form#student-form {
  width: 650px;
  .form-inputs {
    .pull-right {
      width: 350px;
      .control-group.string {
        label {
          width: 100px;
          float:left;
         }
        
      }
      span {
        #student_gender_true {
          float:left;
          margin-right: 10px;
        }
        .collection_radio_buttons {
          float: left;
          margin-right: 20px;
        }
        #student_gender_false {
          float: left;
          margin-right: 10px;
        }
      }
    } 
    .control-group.file {
      width: 198px;
    }
  }
  .gender {
    margin-right: 61px;
  }
  
}

.invited-user {
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 10px;
  width: 60%;
  min-height: 100px;
  border: 1px solid #DDD;
  .width-users {
    width:550px;
    .width-name { 
      width:150px;
      word-wrap: break-word;
    }
    .width-email {
      width:250px;
      word-wrap: break-word;
    }
    .width-role { 
      width:100px;
      word-wrap: break-word;
    } 
    .width-action { 
      width:50px;
    }
  }
  a {
    padding-left: 10px;
    &:hover {
      text-decoration: none !important;
    }
  }
  .tab-content {
    margin-left: 10px;
  }
  .table {
    width: 70%;
  }
}
  
.goal-form{
  .progress-report-container{
    margin-top: 10px;
  }
}


.progress {
    background-color: blue !important;
    background-image: none !important;
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 150px;
}

form#new_student_sharing, form.edit_student_sharing {
  .form-inputs {
    // width: 350px;
    .control-group {
      label {
        width: 100px;
        float:left;
       }
     }
   }
}
