$color-font: #E17C25;

form#student-form {
  width: 650px;
  .form-actions {
    input.btn {
      height: 30px;
    }
  }
  .form-inputs {
    .pull-right {
      width: 350px;
      .control-group.string {
        label {
          width: 100px;
          float:left;
         }
        
      }
    } 
    .control-group.file {
      width: 198px;
    }
  }

  .gender-container {
    /*margin-right: 68px;*/
    span{
      margin-right: 10px;
    }
    input{
      float: none !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
      margin-right: 5px !important;
    }

    label{
      display: inline-block !important;
      float: none !important;
      width: auto !important;
    }
  }

  .crop_image { width: 200px; height: 200px; overflow: hidden; }
  .crop_image img {max-width:none}
}

.invited-user, .goal-section  {
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 10px;
  min-height: 100px;
  .width-users {
    width:550px;
    .width-name { 
      width:150px;
      word-wrap: break-word;
    }
    .width-email {
      width:250px;
      word-wrap: break-word;
    }
    .width-role { 
      width:100px;
      word-wrap: break-word;
    } 
    .width-action { 
      width:50px;
    }
  }

  .width-subject.accuracy{
    width: 150px;
  }

  .complete-checkbox {
    margin-left: 10px;
    display: inline-block;
    label {
      margin-left: 10px;
      display: inline-block;
    }
  }

  a {
    padding-left: 10px;
    &:hover {
      text-decoration: none !important;
    }
  }
  .tab-content {
    margin-left: 10px;
  }
  .table {
    width: 80%;
  }
}
  
.goal-form{
  .progress-report-container{
    margin-top: 10px;
  }

  &.form-horizontal{
    .control-label{
      width: 160px;
      margin-left: 5px;
      margin-right: 10px;
    }
  }

  .archived-input {
    .checkbox{
      margin-left: 10px;
      margin-top: 3px;
    }
  }

  select{
    width: 216px;
  }

  .modal-body{
    max-height:300px;
  }

  #curriculum .help-inline{
    margin-left: 30px;
  }
}

.student-users{
  a{
    padding-left: 10px;
    &.invite-user {
      padding-left: 0;
    }
  }
}

form#invite_student_sharing_form, form#new_grade {
  .form-inputs {
    .control-group {
      label {
        width: 100px;
        float:left;
       }
     }
     .margin-btn {
       margin-left: 10px;
     }
   }
}

.custom-bar {
  background-color: $color-font !important;
  background-image: none !important;
  background-repeat: repeat-x;
}

.progress  {
    background-color: #B3B1B0 !important;
    background-image: none !important;
    background-repeat: repeat-x;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 330px;

    &.small{
      width: 200px;
    }

    .bar {
      -moz-box-sizing: border-box;
      -moz-transition: width 0.6s ease 0s;
      background-color: $color-font !important;
      background-image: -moz-linear-gradient(center top , $color-font, $color-font);
      background-repeat: repeat-x;
      box-shadow: 0 0px 0 rgba(0, 0, 0, 0.15) inset !important;
      color: #FFFFFF;
      float: left;
      font-size: 12px;
      height: 100%;
      text-align: center;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      width: 0;
    }
}

.progress-success .bar {
  background-color: $color-font !important;
  background-image: -moz-linear-gradient(center top , $color-font, $color-font);
  background-repeat: repeat-x;
}

a {
  color: $color-font;
  text-decoration: none;
}

.btn {
  background-color: $color-font !important;
  background: url("/assets/bg-button.png") repeat-x scroll center center transparent;
  border-color: $color-font $color-font $color-font;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 4px 14px;
  text-align: center;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  font-weight: bold;
  &:hover {
    background-color: #E47028;
    color: #ffffff;
  }
}

#export-button{
  margin-bottom: 10px;
}
.show-student{
  .separator{
    margin: 15px 0;
  }

  #add-grade{
    margin-top: 15px;
  }
  #import-grade{
    margin-top: 15px;
    margin-right: 15px;
  }

  .cont{
    .width-subject{
      width: 400px;
    }

    .width-grade{
      width: 140px;
    }

    .goal-progress{
      width: 500px;
    }

    .table-striped{
      width: 80%;
    }
  }

  #content-users{
    max-width: 700px;
    overflow: hidden;

    table td.width-name{
      width: 30%;
    }

    table td.width-role{
      width: 10%;
    }
  }

  .edit-goal.on-show{
    margin-left: 15px;
  }
}

.invitation-form{
  input[type="text"], input[type="email"]{
    width:220px;
  }

  select{
    width:230px;
  }
}

.grades-container{
  margin-left: 15px;
}
