.teacher, .show-student, .show-other-students, .admin{
  .top-align {
    margin-top: 15px;
  }
  .student-container, .teacher-container{
    .well{ 
      background-color: #FAFAFA;
      padding: 10px
    }

    &:hover .well{ background-color: #F5F5F5; }

    margin-top: 10px;

    .avatar-container, .teacher-avatar, .student-avatar, .default-avatar {
      display: inline-block;
      width: 88px;
      height: 88px;
      margin-bottom: 0;
      float: left;
      padding: 0;
    }
    .default-avatar-teacher {
      display: inline-block;
      width: 88px;
      height: 98px;
      margin-bottom: 0;
      float: left;
      padding: 0;
    }
    .default-avatar, .default-avatar-teacher{
      background: url("/assets/default-avatar.jpeg") no-repeat scroll center center transparent;
    }

    .info{
      display: inline-block;
      height: 68px;
      width: 500px;
      margin-left: 2px;
      margin-bottom: 0;
      float: left;
    }
    .info-teacher{
      display: inline-block;
      height: 78px;
      width: 500px;
      margin-left: 2px;
      margin-bottom: 0;
      float: left;
    }
    .info-invited-teacher {
      display: inline-block;
      height: 78px;
      width: 250px;
      margin-left: 2px;
      margin-bottom: 0;
      float: left;
      margin-right: 16px;
    }
    .see-users-link {
      padding-top: 5px; 
      padding-right: 20px;
    }
    
  }

  .tabbable {
    margin-top: 20px;
    width: 633px;
    ul.nav {
      margin-bottom: 0px !important;
    }
    .status, .users { 
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      min-height: 500px;
      padding: 20px 0px 10px;
      a.add {
        margin: 100px 0 0 30px;
      }
      .export {
        margin-right: 20px;
      }
      #content-status {
        margin: 0 30px 30px 30px;
      }
      .width-users {
        width:550px;
        .width-name { 
          width:150px;
          word-wrap: break-word;
        }
        .width-email {
          width:250px;
          word-wrap: break-word;
        }
        .width-role { 
          width:100px;
          word-wrap: break-word;
        } 
        .width-action { 
          width:50px;
        }
      }
      
    }
  }
}
.show-other-students {
  margin-top: 20px;
  margin-left: 20px;
  .info{
    display: inline-block;
    height: 48px;
    width: 365px !important;
    margin-left: 2px;
    margin-bottom: 0;
    float: left;
  }
  .add-student {
    margin-top: 20px;
    text-align:right;
  }
}
.border-teacher {
  border: 1px solid black; 
  background-color: #ededed; 
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.align-border-single {
  padding: 10px;
}
.align-border-multi {
  padding: 10px 0 5px 10px;
}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
   padding-left: 10px;
}

.cont {
  margin-top:10px;
  .width-subject {
    width: 200px
  }
  .introduce {
    width: 400px;
    margin-top: 10px;
  }
}

.admin{
  .teacher-container {
    .teacher-student {
      max-height: 200px;
      overflow-y: auto;

      .student-avatar{
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-bottom: 8px;
        margin-right: 8px;
        float: left;
        padding: 0;
      }

      .student-link{
        display: inline-block;
        float: left;
      }
    }

    .info{
      min-height: 68px;
      height: auto;
    }
  }
}
