$color-font: #E17C25;
.teacher, .student, .show-student, .admin{
  .top-align {
    margin-top: 15px;
  }

  .toolbar{
    margin-bottom: 10px;
  }

  .one-student {
    border: 1px solid $color-font;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    .well{ 
      border: none;
      background-color: transparent;
      box-shadow: none;
      padding: 10px
    }

    &:hover { background-color: white; }

    .avatar-container, .teacher-avatar, .student-avatar, .default-avatar {
      display: inline-block;
      width: 88px;
      height: 88px;
      margin-bottom: 0;
      float: left;
      overflow: hidden;
    }
    .default-avatar-teacher {
      display: inline-block;
      width: 88px;
      height: 98px;
      margin-bottom: 0;
      float: left;
      padding: 0;
      overflow: hidden;
    }
    .default-avatar, .default-avatar-teacher{
      background: url("/assets/default-avatar.jpeg") no-repeat scroll center center transparent;
    }

    .info{
      display: inline-block;
      height: 68px;
      margin-left: 2px;
      margin-bottom: 0;
      float: left;
      color: #6D6E71;

      .name{
        font-size: 16px;
      }
    }

    .edit {
      margin-right: 20px;
    }
    .see-users-link {
      padding-top: 5px; 
      padding-right: 20px;
    }
    
    .action-link-container{
      text-align: right;
      height: 100px;
      padding-right: 15px;
      .action-link{
        margin-bottom: 10px;
      }
    }
  }

  .student-container, .teacher-container{
    padding-top: 7px;
    padding-bottom: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
    max-width: 260px;

    .well{ 
      border: none;
      background-color: transparent;
      box-shadow: none;
      padding: 10px
    }

    &:hover { background-color: white; }

    .avatar-container, .teacher-avatar, .student-avatar, .default-avatar {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-bottom: 0;
      float: left;
      overflow: hidden;
    }
    .default-avatar-teacher {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-bottom: 0;
      float: left;
      padding: 0;
      overflow: hidden;
    }
    .default-avatar, .default-avatar-teacher{
      background: url("/assets/default-avatar.jpeg") no-repeat scroll center center transparent;
    }

    .info{
      display: inline-block;
      height: 68px;
      width: 170px;
      margin-left: 2px;
      float: left;
      color: #6D6E71;
      padding-top: 0;

      .name{
        font-size: 16px;
      }
    }
    .track-indicator-container{
      position: absolute;
      right: 10px;
      top: 60px;
    }
    .info-teacher{
      display: inline-block;
      height: 78px;
      width: 500px;
      margin-left: 2px;
      margin-bottom: 0;
      float: left;
    }
    .info-invited-teacher {
      display: inline-block;
      height: 78px;
      width: 210px;
      margin-left: 2px;
      margin-bottom: 0;
      float: left;
      margin-right: 16px;
    }
    .see-users-link {
      padding-top: 5px; 
      padding-right: 20px;
    }
    
  }

  .tabbable, .invited-user {
    margin-top: 20px;
    width: 100%;
    
    .nav-tabs > li > a {
      border-top: 1px solid $color-font;
      border-right: 1px solid $color-font;
      border-left: 1px solid $color-font;
      border-radius: 4px 4px 0 0;
      line-height: 20px;
      padding-bottom: 8px;
      padding-top: 8px;
    }
    ul.nav {
      margin-bottom: 0px !important;
    }
    ul.nav-tabs {
    border-bottom: 1px solid $color-font;
    }
    .status, .users { 
      border-bottom: 1px solid $color-font;
      border-right: 1px solid $color-font;
      border-left: 1px solid $color-font;
      min-height: 140px;
      background-color: white;
      padding: 20px 0px 10px;
      .line {
        
        margin: 20px 0;
      }
      .export {
        margin-right: 20px;
      }
      #content-status {
        margin: 0 30px 0 30px;

        .pagination {
          height: auto;
          margin: 0;
          .prev.previous_page {
            display:none;
          }
          .next {
            display: none;
          }
          ul {

            li.active a{              
              padding: 1px 7px 2px;
              -webkit-border-radius: 13px;
              -moz-border-radius: 13px;
              border-radius: 13px;
              margin-right: 10px !important;
              background-color: $color-font;
              color: white;
            }
            li a{
              padding: 1px 7px 2px;
              -webkit-border-radius: 13px;
              -moz-border-radius: 13px;
              border-radius: 13px;
              background-color: #a8a9ac;
              margin-right: 10px !important;
            }
          }
        }
      }
      .width-users {
        width:550px;
        .width-name { 
          width:150px;
          word-wrap: break-word;
        }
        .width-email {
          width:250px;
          word-wrap: break-word;
        }
        .width-role { 
          width:100px;
          word-wrap: break-word;
        } 
        .width-action { 
          width:50px;
        }
      }
      
    }
  }
}

.show-other-students {
  padding-top: 10px;
  clear: both;
  .title {
    margin-bottom: 10px;
  }

  .each {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    width: 234px;
    border-radius: 3px;
    margin-right: 20px;
    .avatar-container {
      width: 200px;
      height: 100%;
      margin: 10px;

      .avatar-wrapper{
        width: 200px;
        height: 200px;
        display: table;

        .avatar-link{
          display: table-cell;
          vertical-align: middle;
          text-align: center;
        }
      }

      .student-avatar{
        max-width: 200px;
        max-height: 200px;
      }
    }
    .info{
      display: inline-block;
      width: 365px !important;
      margin: 10px 0 0 10px;
    }
    .add-student {
      margin-top: 20px;
      text-align:right;
    }
  }
}

.border-teacher {
  border: 1px solid $color-font !important; 
  background-color: #ededed; 
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.align-border-single {
  padding: 10px;
}
.align-border-multi {
  padding: 10px 0 5px 10px;
}

.cont {
  margin-top:10px;
  .width-subject {
    width: 260px;
  }
  .width-status{
    padding-right: 10px;
  }

  .introduce {
    width: 500px;
    margin-bottom: 10px;
    &.small{
      width: 460px;
    }
  }

  .goal-progress{
    width: 430px;
    &.large{
      width: 538px;
    }
  }
}

.admin{
  &.teacher {
    .box-view-as {
      background-color: grey;
      padding: 10px;
      margin-bottom: 10px;
    }
    .teacher-container, .student-container {
      .teacher-student, .student-teacher {
        max-height: 200px;
        overflow-y: auto;

        .student-avatar, .teacher-avatar{
          display: inline-block;
          width: 28px;
          height: 28px;
          margin-bottom: 8px;
          margin-right: 8px;
          float: left;
          padding: 0;
        }

        .student-link, .teacher-link{
          display: inline-block;
          float: left;
        }
      }

      .info{
        width: 167px;
      }
    }

    .toolbar{
      margin-bottom: 10px;
    }
    
    .navbar-search{
      margin-top: 0;
    }
  }

  &.search{
    display: block;        
    .search-header{
      .search-title{
        display: inline-block;
      }
    }

    .result-container{
      display: inline-block;
      float: left;

      &.teachers-result{
        margin-right: 20px; 
      }

      .teacher-container, .student-container{
        .info{
          width: 340px;
        }
      }

      .pagination{
        display: inline-block;
      }
    }
  }

  .show-student{
    margin-bottom: 20px;
  }
}

.student .tabbable{
  margin-top: 0;
  .status{
    border-top: 1px solid #E17C25;
  }
}

#export-dialog {
  #data_individual {
    margin-bottom: 8px;
  }
  #data_classroom {
    margin-bottom: 8px;
  }
  #data_school {
    margin-bottom: 8px;
  }
}
