%select.margin1
  %option{:selected => "true"} All
  %option All with exercises
  %option My exercises
  %option Teachemame's exercises

%select.margin1
  %option Core Standard
  %option SEACO
  %option Common

%select.margin2
  %option Subject area

= link_to " Add a worksheet", "#", :class => "icon-plus-sign add; margin1"

%table
  %thead
    %th.text_left Standard
    %th.text_left Description
    %th.text_center Worksheets
  %tr
    %td.left_blue_bold 10.1
    %td Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis magna nulla.
    %td.center_blue 3

  %tr.color_light_brown
    %td.left_blue_bold 10.2
    %td Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis magna nulla.
    %td.center_blue 0

  %tr
    %td.left_blue_bold 10.3
    %td Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis magna nulla.
    %td.center_blue 0

  %tr.color_light_brown
    %td.left_blue_bold 10.4
    %td Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis magna nulla.
    %td.center_blue 6

  %tr
    %td.left_blue_bold 10.5
    %td Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis magna nulla.
    %td.center_blue 1