%p
  Welcome #{@resource.full_name}!
%p
  - if @resource.is_admin_school?
    You are the admin at 
    %b= truncate(@resource.school.try(:name).to_s, :length => 17, :separator => " ")
    school.
  - else 
    You joined at 
    %b= truncate(@resource.school.try(:name).to_s, :length => 17, :separator => " ")
    school.
%p You can confirm your account email through the link below:
%p= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
